/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.theme{
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-bottom: 100px;
}

.theme .py-5{
    padding-top: 3rem !important;
    padding-bottom: 0 !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.themeFolder{
    display: flex;
    width: 700px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.themeFolder h4{
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 5px;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    background-color: darkslateblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
    padding-bottom: 8;
    cursor: pointer;
}

h4.active{
    background-color: indianred;
}

.theme p, .theme h1, .theme h2, .theme h3, .theme h4, .theme h5, .theme h6{
    color: #333;
}

#autonomie img{
    border-radius: 20px;
}

#headTitle{
    height: 300px;
    position: relative;
}

#particles-js{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
}
#text{
    z-index: 1;
}

#text canvas{
    margin-top: 50px;
}

#donut{
    height: 500px;
}


.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    min-height: 110vh;
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, #4ca1af 0%, #7883b4 100%);
}
